<div class="page-container">
  <div class="card-base form-card form-card-large">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-wrapper">
      <h2 class="form-title-base">Accedi</h2>

      <div class="form-group">
        <label for="email" class="form-label-base">Email:</label>
        <input id="email" formControlName="email" type="email" class="form-input-base" placeholder="La tua email" />
      </div>

      <div class="form-group">
        <label for="password" class="form-label-base">Password:</label>
        <div class="password-container">
          <input id="password" formControlName="password" [type]="passwordType" class="form-input-base" placeholder="La tua password"/>
          <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
            <i class="fas fa-eye" *ngIf="passwordType === 'password'"></i>
            <i class="fas fa-eye-slash" *ngIf="passwordType === 'text'"></i>
          </span>
        </div>
      </div>

      <button type="submit" class="button-base button-primary">Login</button>
      
      <p class="link-paragraph">Non hai un account? <a routerLink="/register" class="link-accent">Registrati qui</a></p>
    </form>
  </div>
</div>