<nav class="navbar">
  <div class="navbar-brand">App Note</div>
  <div class="navbar-links">
    <ng-container *ngIf="user$ | async as user">
      <span class="user-greeting">Ciao, {{ user.nome }} {{ user.cognome }}</span>
      <a routerLink="/dashboard" class="nav-link">Dashboard</a>
      <a routerLink="/nota/crea" class="nav-link">Crea Nota</a>
      <a routerLink="/user" class="nav-link">Modifica Profilo</a>
      <button class="button-base button-secondary" (click)="logout()">Logout</button>
    </ng-container>
    <ng-container *ngIf="!(user$ | async)">
      <a routerLink="/login" class="nav-link">Accedi</a>
      <a routerLink="/register" class="nav-link">Registrati</a>
    </ng-container>
  </div>
</nav>